* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
  }

h1 {
    color: #40434a;
    font-size: 25px;
}
.background {
    position: relative;
    width: 100%;
  }
  
.background .landscape {
    width: 100%;
    height: auto;
}
  
.background .btn {
    background-color: #000000;
    color: white;
    font-size: 25px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    opacity: 0.4;
    transition: 0.3s ease-in-out;
}
  
.background .btn:hover {
    opacity: 0.6;
}

.background h1 {
    color: #FFFFFF;
    font-size: 100px;
    font-weight: bold;
}

.background h2 {
    color: #FFFFFF;
    font-size: 25px;
    padding: 10px 0 20px;
    font-weight: lighter;
}

.content {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.content div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@media only screen and (max-width: 992px) {
    .background h1 {
        font-size: 50px;
        margin-top: 5px;
    }
    .background h2 {
        font-size: 20px;
        padding: 5px 0 15px;
    }
    .background .btn {
        font-size: 20px;
        margin-bottom: 5px;
    }
    h1 {
        font-size: 15px;
    }

}

.container {
    height: 50px;
}
.link-secondary {
    display: inline-block;
    padding: 20px;
}

.text-box {
    text-shadow: 0 .05rem .1rem rgba(19, 46, 76, 0.5);
    box-shadow: inset 0 0 5rem rgba(19, 46, 76, .5);
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    text-align: center;
}

.pasted {
    position: relative;
    width: 100%;
}

.logo_overlay {
    position: relative;
    width: 50px;
    border-radius: 50%;
    top: -50px;
    left: -190px;
}

.portrait {
    width: 200px;
    padding: 10px;
}