* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
  }

h1 {
    color: #40434a;
    font-size: 30px;
}
h2 {
    color: #40434a;
    font-size: 25px;
}

hr {
    color: #FFFFFF;
}
.background {
    position: relative;
    width: 100%;
  }
  
.background .landscape {
    width: 100%;
    height: auto;
}
  
.background .btn {
    background-color: #000000;
    color: white;
    font-size: 25px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    opacity: 0.4;
    transition: 0.3s ease-in-out;
}
  
.background .btn:hover {
    opacity: 0.6;
}

.background h1 {
    color: #FFFFFF;
    font-size: 100px;
    font-weight: bold;
}

.background h2 {
    color: #FFFFFF;
    font-size: 25px;
    padding: 10px 0 20px;
    font-weight: lighter;
}

.content {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.content div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.link-secondary {
    display: inline-block;
    padding: 20px;
}

.text-box {
    text-shadow: 0 .05rem .1rem rgba(19, 46, 76, 0.5);
    box-shadow: inset 0 0 5rem rgba(19, 46, 76, .5);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

.pasted {
    position: relative;
    width: 100%;
}

.portrait {
    width: 200px;
    padding: 10px;
}

.cover {
    height: 200px;
    width: 200px;
}

.small-cover {
    width: 50px;
    height: 50px;
}

.small-cover img {
    width: 100%;
    height: 100%;
}
.player {
    display: flex;
    align-items: center;
    align-self: center;
    width: 200px;
}
#main-play-pause-button {
    color: #FFFFFF;
    font-size: 40px;
    padding-right: 10px;
}


.hp_slide, .hp_range {
    border-radius: 20px;
    height:15px;
}
.hp_slide{
    width: 400px;
    background:#B3C2C8;
}
.hp_range{
    width:0;
    background:#000000;
}

.featured-song {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #0a2025;
    box-shadow: 0 0 5rem #0a2d36;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.featured-song > div {
    padding: 10px;
}

.featured-song h3 {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
}

.featured-song h1 {
    color: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
}

.featured-song a {
    color: #69cdff;
}
.spotify-logo {
    align-self: flex-start;
}
.spotify-logo img {
    height: 50px;
}

.stats {
    color: #FFFFFF;
}

.stats h1 {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
}

.text-stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-stats div {
    padding: 25px;
}

.feature-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.bar {
    height: 15px;
    background-color: #B3C2C8;
    border-radius: 20px;
    width: 200px;
    align-self: center;
}

.popover-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-info-circle {
    font-size: 30px;
    float: right;
    padding: 10px;
}


@media only screen and (max-width: 992px) {
    .background h1 {
        font-size: 50px;
        margin: 5px;
    }
    .background h2 {
        display: none
    }
    .background .btn {
        font-size: 20px;
        margin: 5px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 15px;
    }

    .featured-song h1 {
        font-size: 25px;
    }

    .featured-song h3 {
        font-size: 15px;
    }

    .header {
        justify-content: center;
    }
}
