* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

.logo {
    width: 50px;
    border: 3px solid #15B8AE;
    border-radius: 25px;
}

.logout-button {
    background-color: #ef233c;
    border-color: #b90217;
}

.logout-button:hover {
    background-color: #b90217;
    border-color: #b90217;
}

.login-button {
    background-color: #15B8AE;
    border-color: #017b91;
}

.login-button, .logout-button {
    text-align: center;
    margin-right: 10px;
}

.login-button:hover {
    background-color: #017b91;
    border-color: #017b91;
}

.nav-link {
    font-size: 18px;
}
.footer {
    display: flex;
    justify-content: center;
}
.footer a {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}

@media only screen and (max-width: 992px) {
    .login-button, .logout-button {
        margin-right: 0;
        margin-bottom: 10px;
    }
}