* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

.logo {
    width: 50px;
    border: 3px solid #15B8AE;
    border-radius: 25px;
}

.logout-button {
    background-color: #ef233c;
    border-color: #b90217;
    text-align: center;
}

.logout-button:hover {
    background-color: #b90217;
    border-color: #b90217;
}

.login-button {
    background-color: #15B8AE;
    border-color: #017b91;
    text-align: center;
}

.login-button:hover {
    background-color: #017b91;
    border-color: #017b91;
}

.nav-link {
    font-size: 18px;
}