.body {
    height: 800px;
    position: relative;
    font-size: 15px;
}

.scroll {
    overflow: scroll;
    width: 100%;
    height: 100%;
}
.parent {
    column-gap: 16px;
    column-count: 5;
}

div {
    display: block;
}


.view-link {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.view-link:hover {
    color: rgb(109, 106, 106);
    text-decoration: underline;
}