.cover {
  width: 50px;
  border: 2px solid #60778C;
}

.piechart {
  width: 200px;
  border: 2px solid #60778C;
  border-radius: 100px;
  
}

.playlist-button {
  background-color: #15B8AE;
  border-color: #017b91;
  margin-bottom: 50px;
}

.playlist-button:hover {
  background-color: #017b91;
  border-color: #017b91;
}
.title {
  padding: 70px;
  font-size: 20px;
  font-weight: bold;
  color: #60778C;
}
.dropdown {
  position: relative;
  display: inline-block;
}

#time-select {
  color: #60778C
}

#time-select:hover {
  color: #3e4d5a
}

.table-spacing {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: rgba(203, 230, 255, 0.5);
}

.clickable-row:active {
  background-color: rgba(151, 181, 209, 0.5);
}

.chart-container {
  width: 80%;
  height: 580px;
  margin: 0 auto;
}

.pie-chart-container,
.doughnut-chart-container {
  height: 560px;
  width: 560px;
  float: left;
}
 
@media only screen and (max-width: 500px) {
	.unseen {display: none;}
}