{% extends 'track.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
{{super()}} {% endblock %}

{% block body %}

<div class="background">
    <img class="landscape" src="{{url_for('static', filename='assets/landscape.jpeg')}}" />
    <div class="content d-flex align-items-center text-center">
        <div>
            <h1>Sketyl</h1>
            <h2>Spotify statistics with style and a bit of satire.</h2>
            <a href="{{url_for('spotify_connect')}}" class="btn btn-lg">Connect to Spotify</a>
        </div>
    </div>
</div>

{{super()}}
{% endblock %}