{% extends 'index.html' %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/spotify/albums.css') }}" />
{% endblock %} {% block body %} {{ super() }}
<div class="table-box bg-dark table-responsive">
    <div class="header d-flex flex-wrap">
        <div class="p-2">
            <h3 class="table-name">{{caption}}</h3>
        </div>
        <div class="ms-auto p-2 d-flex align-items-end select-box">
            <select class="form-select form-select-sm sorter">
                <option selected value="order">
                    Sort by save date (newest to oldest)
                </option>
                <option value="name">Sort by album name</option>
                <option value="artist">Sort by artists</option>
                <option value="tracks">
                    Sort by number of tracks (most to least)
                </option>
                <!-- <option value="date" I don't know how to do this>
                    Sort by album release date
                </option> -->

            </select>
        </div>
    </div>
    <table class="table align-middle">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cover</th>
                <th scope="col">Name</th>
                <th scope="col">Artist</th>
                <th class="unseen" scope="col">Release Date</th>
                <th class="unseen" scope="col">Tracks</th>
            </tr>
        </thead>
        <tbody>
            {% for album in albums %}
            <tr class="rows" data-album="{{album.json}}">
                <th scope="row">{{album.index}}</th>
                <td>
                    <img class="cover" src="{{album.cover}}">
                </td>
                <td>
                    <a href="{{url_for('albums', album_id=album.id)}}" class="link-light track">
                        {{album.name}}
                    </a>
                </td>
                <td>
                    {% for artist in album.artists %}
                    <a class="link-light" href="{{artist.url}}">{{artist.name}}</a>
                    {% endfor %}
                </td>
                <td class="unseen">
                    {{album.release}}
                </td>
                <td class="unseen">
                    {{album.total_tracks}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='js/player.js')}}"></script>
    <script src="{{url_for('static', filename='js/utils.js')}}"></script>
    <script src="{{url_for('static', filename='js/albums.js')}}"></script>
    {% endblock %}
</div>