{% extends "index.html" %}
{% block head %}
{{super()}}
<!-- Custom styles for this template -->
<link href="{{url_for('static', filename='css/spotify/login.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}

<div class="text-center">
  <div>
    <h1>Sketyl Spotify</h1>
    <p class="lead">Sketyl is a web application <s>designed</s> being designed to provide numerous music features.
      Features like genre exploration, dynamic models showing your varying music taste over time, personalized
      recommendations, the list goes on... But yeah, it currently does none of that. There are some Spotify stats
      though! So if you have nothing better to do, click that green button and connect your Spotify account.</p>
    <p class="lead">
      <a href="{{url_for('spotify_connect')}}" class="btn btn-lg btn-success fw-bold border-white">Connect</a>
    </p>
  </div>
</div>
{% endblock %}