{% extends 'spotify/main.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/spotify/tables.css') }}" />
{% endblock %}

{% block body %} 
{{ super() }}
<table class="table table-responsive caption-top align-middle table-hover table-spacing">
    <div class="title text-center">
        <h1>
        {{caption[0]}}
        {% if caption[1] %}
        <div class="dropdown">
            <a id="time-select" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{caption[1]}}</a>
            <ul class="dropdown-menu" aria-labelledby="time-select">
                <li><a class="dropdown-item" href="{{ request.path }}">four weeks</a></li>
                <li><a class="dropdown-item" href="{{ request.path }}?time_range=medium_term">six months</a></li>
                <li><a class="dropdown-item" href="{{ request.path }}?time_range=long_term">few years</a></li>
            </ul>
        </div>
        </h1>
        {% endif %}
    </div>

    {% if artist %}
    <thead>
        <tr>
            <th class="th-sm" scope="col">#</th>
            <th class="th-sm" scope="col">Cover</th>
            <th class="th-sm" scope="col">Artist</th>
        </tr>
    </thead>
    <tbody>
        {% for artist in data %}
        <tr>
            <th scope="row">{{artist.index}}</th>
            <td class="small center">
                <img class="cover" src="{{artist.image}}" >
            </td>
            <td>{{artist.name}}</td>
        </tr>
    </tbody>
        {% endfor %}
    {% elif genre %}
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Genre</th>
            <th scope="col">Frequency</th>
        </tr>
    </thead>
    <tbody>
        {% for genre in data %} 
        <tr>
            <th scope="row">{{genre.index}}</th>
            <td>{{genre.name}}</td>
            <td>{{genre.percent}}</td>
        </tr>
        {% endfor %}
    {% elif playlist %}
    </tbody>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cover</th>
            <th scope="col">Name</th>
            <th scope="col">Owner</th>
            <th class="unseen" scope="col">Type</th>
            <th class="unseen" scope="col">Tracks</th>
        </tr>
    </thead>
    <tbody>
        {% for playlist in data %}
        <tr>
            <th scope="row">{{playlist.index}}</th>
            <td><img class="cover" src="{{playlist.image}}"></td>
            <td>{{playlist.name}}</td>
            <td>{{playlist.owner}}</td>
            <td class="unseen">{{playlist.type}}</td>
            <td class="unseen">{{playlist.tracks}}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% elif album %}
    </tbody>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cover</th>
            <th scope="col">Name</th>
            <th scope="col">Artist</th>
            <th class="unseen" scope="col">Release</th>
            <th class="unseen" scope="col">Tracks</th>
        </tr>
    </thead>
    <tbody>
        {% for album in data %}
        <tr>
            <th scope="row">{{album.index}}</th>
            <td><img class="cover" src="{{album.image}}"></td>
            <td>{{album.name}}</td>
            <td>{{album.artist}}</td>
            <td class="unseen">{{album.release}}</td>
            <td class="unseen">{{album.tracks}}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cover</th>
          <th scope="col">Track</th>
          <th scope="col">Artist</th>
          <th class="unseen" scope="col">Duration</th>
        </tr>
    </thead>
    <tbody>
        {% for track in data %}
        <tr class="clickable-row" data-href="{{url_for('spotify_track', track_id=track.id)}}">
            <th scope="row">{{track.index}}</th>
            <td><img class="cover" src="{{track.image}}"></td>
            <td>{{track.name}}</td>
            <td>{{track.artist}}</td>
            <td class="unseen">{{track.duration}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="text-center">
    {% if track %}
    <a href="{{ url_for('create_playlist', spotify_type='top')}}?time_range={{request.args.get('time_range', 'short_term')}}" class="btn btn-primary playlist-button" role="button" aria-pressed="true">Create Playlist</a>
    {% elif recent %}
    <a href="{{ url_for('create_playlist', spotify_type='recent')}}" class="btn btn-primary playlist-button" role="button" aria-pressed="true">Create Playlist</a>
    {% elif liked %}
    <a href="{{ url_for('create_playlist', spotify_type='liked')}}" class="btn btn-primary playlist-button" role="button" aria-pressed="true">Create Playlist</a>
    {% endif %}
</div>
{% endif %}
<script src="{{ url_for('static', filename='js/spotify.js')}}" type="text/javascript"></script>
{% endblock %}

