{% extends 'index.html' %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/spotify/tracks.css') }}" />
{% endblock %} {% block body %} {{ super() }}
<div class="table-box bg-dark table-responsive">
    <div class="header d-flex flex-wrap">
        <div class="p-2">
            <h3 class="table-name">{{caption}}</h3>
            {% if type == "top" %}
            <div class="time-select-buttons">
                <a href="{{ request.path }}?time_range=short_term" class="link-secondary">Four Weeks</a>
                <a href="{{ request.path }}?time_range=medium_term" class="link-secondary">Six Months</a>
                <a href="{{ request.path }}?time_range=long_term" class="link-secondary">Few Years</a>
            </div>
            {% endif %}
        </div>
        <div class="ms-auto p-2 d-flex align-items-end select-box">
            <select class="form-select form-select-sm table-sort">
                {# Sorting by affinity only available for top tracks. Change name but still sort by rank. #}
                {% if type == "top" %}
                <option selected value="order">
                    Sort by track affinity
                </option>
                {% else %}
                <option selected value="order">
                    Sort by track order
                </option>
                {% endif %}
                <option value="name">Sort by track name</option>
                <option value="artist">Sort by artists</option>
                <option value="album">Sort by album</option>
                <option value="duration">
                    Sort by track length (short to long)
                </option>
                <option value="popularity">
                    Sort by track popularity (least to most)
                </option>
                <option value="tempo">
                    Sort by track tempo (slowest to fastest)
                </option>
                <option value="danceability">
                    Sort by danceability (least to most)
                </option>
                <option value="valence">Sort by mood (sad to happy)</option>
                <option value="energy">Sort by energy (least to most)</option>
            </select>
        </div>
    </div>
    <table class="table align-middle">
        <thead>
            <tr>
                <th class="rank" scope="col">#</th>
                <th scope="col">Cover</th>
                <th scope="col">Track</th>
                <th scope="col">Artist</th>
                <th class="unseen" scope="col">Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for track in tracks %}
            <tr class="rows" data-track="{{track.json}}">
                <th scope="row">{{loop.index}}</th>
                <td>
                    <div class="container">
                        <div class="overlay">
                            <img class="cover" src="{{track.cover}}" />
                            <span class="icon play-pause">
                                <i class="fa fa-play"></i>
                                <audio class="audio" src="{{track.preview}}"></audio>
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <a href="{{track.url}}" class="link-light track">
                        {{track.name}}
                    </a>
                </td>
                <td>
                    {% for artist in track.artists %}
                    <a class="link-light" href="{{artist.url}}">{{artist.name}}</a>
                    {% endfor %}
                </td>
                <td class="unseen">{{track.duration}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex align-items-center justify-content-center">
        <button class="spinner-button btn btn-primary playlist-button" role="button" aria-pressed="true"
            data-track_ids="{{track_ids}}" data-type="{{type}}">
            Create Playlist
        </button>
    </div>
    <script src="{{ url_for('static', filename='js/spotify.js')}}"></script>
    <script src="{{url_for('static', filename='js/spotify/utils.js')}}"></script>
    <script src="{{url_for('static', filename='js/spotify/tracks.js')}}"></script>
</div>
{% endblock %}