{% extends 'spotify/main.html' %} {% block head %} {{ super() }} {% endblock %}
{% block body %} {{ super() }}
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script src="{{url_for('static', filename='js/spoify/player.js')}}"></script>
<script src="{{url_for('static', filename='js/spotify/utils.js')}}"></script>
<script src="{{url_for('static', filename='js/spotify/track.js')}}"></script>

<body class="container">
    <h1 class="text-salmon">Spotify Web Playback SDK</h1>

    <img id="current-track" />
    <h3 id="current-track-name"></h3>
    <button type="button" class="btn btn-info play">Play</button>
</body>
{% endblock %}
