{% extends 'index.html' %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/spotify/tracks.css') }}" />
{% endblock %} {% block body %} {{ super() }}
<div class="table-box bg-dark table-responsive">
    <div class="header d-flex flex-wrap">
        <div class="name-logo-and-buttons">
            <div class="name-and-logo">
                <div class="spotify-logo-container">
                    <img src="{{url_for('static', filename='assets/spotify_icon_white.png')}}" class="spotify-logo">
                </div>
                <div class="table-name-box">
                    <h3 class="table-name">{{caption}}</h3>
                </div>
            </div>
            {% if type == "top" %}
            <div class="time-select-buttons">
                <a href="{{ request.path }}?time_range=short_term" class="link-secondary">Four Weeks</a>
                <a href="{{ request.path }}?time_range=medium_term" class="link-secondary">Six Months</a>
                <a href="{{ request.path }}?time_range=long_term" class="link-secondary">Few Years</a>
            </div>
            {% endif %}
        </div>
        <div class="select-box">
            <select class="form-select form-select-sm table-sort" data-table-id="1">
                {# Sorting by affinity only available for top tracks. Change name but still sort by rank. #}
                {% if type == "top" %}
                <option selected value="order">
                    Sort by track affinity
                </option>
                {% else %}
                <option selected value="order">
                    Sort by track order
                </option>
                {% endif %}
                <option value="name">Sort by track name</option>
                <option value="artist">Sort by artists</option>
                <option value="album">Sort by album</option>
                <option value="duration">
                    Sort by track length (short to long)
                </option>
                <option value="popularity">
                    Sort by track popularity (least to most)
                </option>
                <option value="tempo">
                    Sort by track tempo (slowest to fastest)
                </option>
                <option value="danceability">
                    Sort by danceability (least to most)
                </option>
                <option value="valence">Sort by mood (sad to happy)</option>
                <option value="energy">Sort by energy (least to most)</option>
            </select>
        </div>
    </div>
    <table id="1" class="table align-middle">
        <thead>
            <tr>
                <th class="rank" scope="col">#</th>
                <th scope="col">Cover</th>
                <th scope="col">Track</th>
                <th scope="col">Artist</th>
                <th class="unseen" scope="col">Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for track in tracks %}
            <tr class="rows" data-track="{{track.json}}">

                <th class="index" scope="row">
                    <div class="overlay">
                        <h4 class="number">{{loop.index}}</h4>
                        <span class="icon play-pause">
                            <i class="fa fa-play small-play-button"></i>
                            <audio class="audio" src="{{track.preview}}"></audio>
                        </span>
                    </div>
                </th>
                <td>
                    <div class="cover">
                        <img src="{{track.cover}}" />
                    </div>
                </td>
                <td>
                    <a href="{{track.url}}" class="link-light track">
                        {{track.name}}
                    </a>
                </td>
                <td>
                    {% for artist in track.artists %}
                    <a class="link-light" href="{{artist.url}}">{{artist.name}}</a>
                    {% endfor %}
                </td>
                <td class="unseen">{{track.duration}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if type != "playlist" %}
    <div class="playlist-button-box">
        <button class="spinner-button btn btn-primary playlist-button" role="button" aria-pressed="true"
            data-track_ids="{{track_ids}}" data-type="{{type}}">
            Create Playlist
        </button>
    </div>
    {% endif %}
</div>
{% endblock %}